/* estilos para el primer navbar */
.encab
{
    background:#1f4287;
    color: white;
}
.elem-enc
{
    padding: 10px 4px;
    text-align: center;
}
.elem-enc:hover
{
    background:#071e3d;
}
.link-enc
{
    color: white;
}
.link-enc:hover
{
    color:#21e6c1;
}
/* estilos para el header del hotel */
.header-hotel
{
    background: #278ea5;
}
.titulo-pagina
{
    padding: 10px 10px 10px 0px;
}
/* estilos para el segundo navbar */
.sec-navbar
{
    background: #1f4287;
}
.padre
{
    display: flex;
    justify-content: space-between;
}
.responsivee
{
    width: 100%;
}
.sec-navb-h2:hover
{
    color:#21e6c1;
}
/* estilos para info hotel body */
.info-hotel
{
    padding: 10px 5px 0px 8px;
}
.img-responsive
{
    width: 100%;
    height: 100%;
}
/* estilos para el footer de la pagina */
.footer-style
{
    text-align: center;
    padding: 5px 0px 0px 0px;
    color: azure;
}
.footer-sty2
{
    padding: 10px 0px;
    background: #071e3d;
}