
body
{
	margin: 0;
}

.Contenedor
{
	padding: 0;
}

input
{
	outline: none;
}

/*Estilos aplicados de forma general a todos los botones*/
.Boton
{
	display: inline-block;
	cursor: pointer;
	border: 0;
	margin: 0;
	padding: 3px 0;
	text-align: center;
	text-decoration: none;
	transition: 500ms all linear; /*Le da un efecto de transición al botón*/
	border-radius: 8px 8px 8px 8px;
}

/*----------------------------------------- Header ----------------------------------------------*/

.Encabezado
{
	right: 0;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #0c5991;
	padding: 1vw 2vw 1vw 2vw;
}

.Logo
{
	width: 100%;
}

.ContenedorHeader
{
	display: flex;
	justify-content: space-around;
}

.BotonHeader
{
	color: black;
	font-weight: bold;

}

.BotonHeader:hover
{
	background-color: rgba(255, 255, 255, 0.5) 
}

/*-----------------------------------------------------------------------------------------------*/


/*-------------------------------------- Contenido ----------------------------------------------*/

section
{
	background-image: url("../Imagenes/Background.jpg");
	background-size: cover;
	padding: 5vw 10vw 5vw 10vw;
}

.ContenedorSection
{
	background: rgba(255, 255, 255, 0.8);
	padding: 3vw;
}

/*-----------------------------------------------------------------------------------------------*/


/*----------------------------------- Créditos --------------------------------------------------*/

footer
{
	background-color: #0c5991;
	padding: 1vw;
}

footer p
{
	text-align: center;
	font-weight: bold;
	margin: 0;
}

/*-----------------------------------------------------------------------------------------------*/