
body
{
	background-image: url(../Imagenes/Background.jpg);
	background-repeat: no-repeat;
}

.Contenedor
{
	margin: 0;
	padding: 0;
}

/*Estilos aplicados a las imágenes que son links como por ejemplo el logo*/
.LinkImagen
{
	padding: 0;
}

/*Estilos aplicados de forma general a todos los botones*/
.Boton
{
	display: inline-block;
	cursor: pointer;
	border: 0;
	padding: 0.5vh 0;
	text-align: center;
	text-decoration: none;
	transition: 500ms all linear; /*Le da un efecto de transición al botón*/
	border-radius: 8px 8px 8px 8px;
}

/*--------------------------------------- Menú azul ---------------------------------------------*/

.MenuAzul
{
	background-color: rgba(12,89,145,0.3);
	padding: 1vh 1vw;
}

.BotonAzul
{
	margin: 0 1vw;
	background: #0c5991;
	color: white;
	font-weight: bolder;
}

.BotonAzulActivo
{
    margin: 0 1vw;
	background: white;
	color: black;
	font-weight: bold;
}

.MenuAzul .BotonAzul:hover 
{
	background: rgba(255, 255, 255, 0.1);
	color: black;
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------*/


/*----------------------------------------- Header ----------------------------------------------*/

header
{
	background-color: #0c5991;
}

.Logo
{
	width: 100%;
}

/*-----------------------------------------------------------------------------------------------*/


/*---------------------------------- Menú blanco o principal ------------------------------------*/

.MenuBlanco
{
	padding: 1vh 2vw;
	border-top: 0.5vh solid  #0c5991;
	border-bottom: 0.5vh solid #0c5991;
}

.BotonMenu
{	
	padding: 0;
}

.BotonBlanco
{
	background: white;
	color: black;
	border: 0.5vh solid rgba(255, 255, 255, 0);
}

.BotonBlanco:hover
{
	border-bottom-color: #0c5991;
	font-weight: bold;
}

.Categoria
{
	padding: 0;
}

@media (max-width: 575px)
{
	.BotonBlanco
	{
		margin-top: 1vh;
	}

	#menu
	{
		display: flex;
		justify-content: space-around;
	}

}

/*-----------------------------------------------------------------------------------------------*/


/*--------------------------------------- Contenido ---------------------------------------------*/

section
{
	padding: 0;
	margin: 5vw 10vw 5vw 10vw;
	background-color: rgba(255, 255, 255, 0.3)
}

/*-----------------------------------------------------------------------------------------------*/


/*------------------------------------------ Créditos -------------------------------------------*/

footer
{
	background: #0c5991;
	margin: 0;
	padding: 2vh;
}

footer p
{
	display: inline;
	text-align: center; 
	color: white;
	font-weight: 500;
	padding: 0;
	margin: 0.5vh;
}

/*-----------------------------------------------------------------------------------------------*/