body
{
	margin: 0;
	padding: 20vw 0 0 0;
}

.Contenedor
{
	padding: 0;
}

input
{
	outline: none;
}

/*Estilos aplicados de forma general a todos los botones*/
.Boton
{
	display: inline-block;
	cursor: pointer;
	border: 0;
	margin: 0;
	text-align: center;
	text-decoration: none;
	transition: 500ms all linear; /*Le da un efecto de transición al botón*/
	border-radius: 8px 8px 8px 8px;
}

/*----------------------------------------- Header ----------------------------------------------*/

.Encabezado
{
	right: 0;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #0c5991;
	padding: 1vw;
}

.Logo
{
	width: 100%;
}

/*-----------------------------------------------------------------------------------------------*/


