/* estilos para el primer navbar */
.encab
{
    background:#1f4287;
    color: white;
}
.elem-enc
{
    padding: 2px 4px;
    text-align: center;
}
.elem-enc:hover
{
    background:#071e3d;
}
.link-enc
{
    color: white;
}
.link-enc:hover
{
    color:#21e6c1;
}
.relleno
{
    height: 6px;
    background: #1f4287;
}
/* estilos para el header del hotel */
.header-hotel
{
    background: white;
}
.titulo-pagina
{
    padding: 20px 5px 0px 0px;
    font-size: 45px;
}
/* estilos para el segundo navbar */
.sec-navbar
{
    background: white;
    border-color: #071e3d;
}
.responsivee
{
    width: 100%;
}
.sec-navbar-h2
{
    color: black;
}
.estaInicio
{
    background: #071e3d;
}
.elem-secnavb
{
    margin: 0px 45px;
}
.elem-secnavb:hover
{
    color:#21e6c1;
}
.consecnv:hover
{
    background: #071e3d;
}
/* estilos para info hotel body */
.info-hotel
{
    padding: 10px 5px 0px 8px;
}
.img-responsive
{
    padding: 10px 10px;
    width: 100%;
}
/* estilos para el footer de la pagina */
.footer-style
{
    text-align: center;
    padding: 5px 0px 0px 0px;
    color: white;
}
.footer-sty2
{
    padding: 10px 0px;
    background: #071e3d;
}